@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
   width: 428px;
   height: 100%;
   border-radius: 24px; 
   border: 1px solid #3E334E;
}
.padd{
    padding: 20px;
}
.imagen{
width: 428px;
height: 198px;
border-top-left-radius: 24px;
border-top-right-radius: 24px; 
background-image: url(./ima.jpg);
background-size: contain;
}

.titulo{
width: 100%;
height: 48px;
display: flex;
align-items: center;
gap: 10px;
padding-bottom: 50px;
padding-top: 30px;
}

.archin{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 100%;
color: #3E334E;
}

.contenido{
width: 100%;
height: 50px;  
display: flex;
align-items: center;
color:#3E334E;

}

.texto{
width: 280px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.login{
width: 380px;
height: 492px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0px;
padding-top: 50px;
}

form{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 0px 24px;
gap: 20px;
}

.log{
width: 100%;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 100%;
color: #3E334E;
}

.ema{
width: 380px;
height: 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
}

.label_email{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #3E334E;
}

.input_email{
width: 380px;
height: 56px;
border: 1px solid #AFA2C3;
border-radius: 8px;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;
}

.pass{
width: 380px;
height: 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
}

.label_pass{
width: 380px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #3E334E;
}
.input_pass{
width: 380px;
height: 56px;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;
border: 1px solid #AFA2C3;
border-radius: 8px;   
}

.tercero{
width: 380px;
height: 16px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 19px;
}

.reme{
width: 134px;
height: 16px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
}

.checker{
width: 110px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #3E334E;
}

.for{
width: 136px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-align: right;
text-decoration-line: underline;
color: #3E334E; 
}

.boton{
width: 380px;
height: 48px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

}
.mensaje{
width: 380px;
height: 25px;
}

.boton_login{
width: 178px;
height: 48px;   
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
background: #3E334E;
border-radius: 8px;
color: white;

}
.boton_sign{
width: 178px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
border: 1px solid #3E334E;
border-radius: 8px;
    
}

.face{
width: 380px;
height: 68px;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
}

.face p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #3E334E;
}

.bots{
width: 380px;
height: 38px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 16px;
}

.but{
width: 116px;
height: 38px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;
border: 1px solid #AFA2C3;
border-radius: 4px;
}

.msg{
    color: red;
    text-align: center;
    display: none;  
    border: 1px solid red;
}
   


@media all  and (min-width:1440px){
    .container{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .loga{
      font-size: 32px;
    }
    .padd{
    width: 794px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .imagen{
    width: 1128px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-color: #191A24;
    border: 1px solid black;
    border-radius: 0px;

    /* display: grid;
    grid-template-areas: 
    'uno cuatro siete'
    'dos cinco ocho'
    'tres seis nueve'; */
    }
    .caja{
        border-radius: 8px;
        min-width:700px ;
    }
    .uno{
        position: absolute;
        width: 324px;
        height: 364px;
        left: 40px;
        top: 0px;
        background-image: url(./uno.png);
        background-repeat: no-repeat;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        
      }
      
      .dos{
        position: absolute;
        width: 324px;
        height: 365px;
        left: 40px;
        top: 292px;
        background-image: url(./dos.png);
        background-repeat: no-repeat;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      
      .tres{
        position: absolute;
        width: 324px;
        height: 214px;
        left: 40px;
        top: 684px;
        background-image: url(./tres.png);
        background-repeat: no-repeat;
      }
      .cuatro{
        position: absolute;
        width: 324px;
        height: 365px;
        left: 392px;
        top: 0px;
        background-image: url(./cuatro.png);
        background-repeat: no-repeat;
      }
      .cinco{
        position: absolute;
        width: 324px;
        height: 318px;
        left: 392px;
        top: 370px;
        background-image: url(./cinco.png);
        background-repeat: no-repeat;
      }
      .seis{
        position: absolute;
        width: 324px;
        height: 190px;
        left: 392px;
        top: 711px;
        background-image: url(./seis.png);
        background-repeat: no-repeat;
      }
      .siete{
        position: absolute;
        width: 324px;
        height: 216px;
        left: 744px;
        top: 20px;
        background-image: url(./siete.png);
        background-repeat: no-repeat;
      }
      .ocho{
        position: absolute;
        width: 324px;
        height: 318px;
        left: 744px;
        top: 260px;
        background-image: url(./ocho.png);
        background-repeat: no-repeat;
      }
      .nueve{
        position: absolute;
        width: 324px;
        height: 300px;
        left: 744px;
        top: 604px;
        background-image: url(./nueve.png);
        background-repeat: no-repeat;
      }
      
    .titulo{
        padding-bottom: 80px;
        padding-left: 182px;
    }
    .contenido{
        padding-bottom: 50px;
        padding-left: 182px;
    }
    .login{
        padding-bottom: 140px;
        width: 480px;
        height: 560px;
    }
    form{
      width:100%;
      height: 100%;
    }
    .log{
        padding-left: 50px;
    }
    .container{
        border-radius: 0px;
    }

}